@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background-color: theme('colors.primary');
  }
  .text-text-primary {
    color: theme('colors.text-primary');
  }
}

@layer base {
  body {
    @apply bg-primary text-text-primary font-sans antialiased;
  }
}
